@media only screen and (max-width: 1200px) {
    .row { padding: 0 2%; }
    
    .hero-text-box { width: 100%; }
    
    .skill-text { padding-top: 10px; }
}


@media only screen and (max-width: 1023px) {
    section { padding: 60px 0; }
    
        
    .form { width: 97%; }
}


@media only screen and (max-width: 800px) {
    html,
    body { font-size: 19px; }
    
    h1 {font-size: 200%; }
    h2 {font-size: 160%; }
    
    /* MOBILE NAV */
    .main-nav {
        display: none;
        margin-top: 10px;
    }
    
    .mobile-nav-icon { display: inline-block; }
    
    .main-nav li {
        clear: both;
        width: 90%;
        display: block;
        text-align: center;
        text-transform: uppercase;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited { border-bottom: none; }

    .main-nav li a:hover,
    .main-nav li a:active { border-bottom: none; }
    
    /* list of tools used in "my work" section */
    .tools-used-list { justify-content: center; }
    
    /* ICON */
    .icon-big { font-size: 200%; }
    
    /* FOOTER */
    .connect-with-me-box {
        padding: 0;
        width: 100%;
    }

    footer h3 { margin-top: 5px; }
    
    footer .span-1-of-2 { width: 97%; }

    .connect-icons li { margin: 20px 20px; }

    input[type=submit] {
        display: block;
        margin: 3px auto;
    }

    input { margin-bottom: 4px; }
}


@media only screen and (max-width: 480px) {
    h1 { font-size: 180%; }
    h2 { font-size: 140%; }
    h3 {
        text-align: center;
        margin-top: 20px;
    }
    
    .connect-icons li { margin: 15px 10px; }
    
    .footer-btn { margin-bottom: 5px; }
    footer p { font-size: 95%; }
    
    h2:after { margin-bottom: 35px; }
    
    .form {
        width: 100%;
        margin-left: 5px;
    }
}