/* orange: #d9593d; */

/* ------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    background-color: #fff;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* ------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------ */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section { padding: 80px 80px; }

/* for span classes */
.orange { color: #d9593d; }

.separator {
    color: #e6e6e6;
    text-align: center;
    font-size: 220%;
    margin: 75px 0;
}

/* HEADINGS */
h1,
h2,
h3 {
    letter-spacing: 2px;
    font-weight: 700;
}

h1 {
    font-size: 220%;
    margin: 5px;
}


h2 {
    font-size: 180%;
    text-align: center;    
}

h2:after {
    display: block;
    height: 4px;
    background-color: #d9593d;
    content: " ";
    width: 150px;
    margin: 25px auto;
    margin-bottom: 65px;
}

h3 {
    font-size: 130%;
    letter-spacing: 1px;
}

/* ICONS */
.icon-big { font-size: 220%; }

/* PARAGRAPH */
p {
    line-height: 145%;
    color: #555;
}

/* ------------------------------------ */
/* LANDING PAGE */
/* ------------------------------------ */
header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)), url(img/hero2-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)), url(img/hero2-min.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.logo {
    font-family: 'Pacifico', cursive;
    float: left;
    color: #fff;
    text-decoration: none;
    margin-top: 30px;
}

.logo:hover,
.logo:active { color: #d9593d; }

/* NAV */
.main-nav {
    text-align: right;
    list-style: none;
    margin-top: 35px;
}

.main-nav li {
    display: inline-block;
    margin: 0 20px 0 13px;
    line-height: 135%;
    vertical-align: bottom;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    padding-bottom: 15px;
    border: 2px solid transparent;
    font-size: 90%;
    -webkit-transition: border-bottom .3s;
    transition: border-bottom .3s;
}

.main-nav li a:hover,
.main-nav li a:active { border-bottom: 2px solid #d9593d; }

/* mobile nav */
.mobile-nav-icon {
    position: fixed;
    right: 15px;
    top: 12px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

/* STICKY NAV */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 62px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 5px #000;
    z-index: 9999;
}

.sticky .main-nav { margin: 20px 0 15px; }

.sticky .logo {margin-top: 20px;}

/* HERO TEXT */
.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

/* LANDING PAGE SCROLL BTN */
.scroll-down-btn {
    color: #fff;
    position: absolute;
    bottom: 5%;
    left: 49.5%;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

/* bottom border for hero image */
.header-bot-border { border-top: 2px solid #d9593d; }

/* ------------------------------------ */
/* ABOUT ME */
/* ------------------------------------ */
.about-text {
    width: 90%;   
    margin-left: 5%;
    text-align: center;
}

.selfie-pic {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 180px;
    border-radius: 50%;
}

/* ------------------------------------ */
/* SKILLS */
/* ------------------------------------ */
.skill-set { background-color: #f5f5f5; }

.skill-bar ul { list-style: none; }

.skill-bar li {
    border-radius: 5px;
    margin: 10px;
    padding: 5px 0 5px 10px;
    color: #fff;
    box-shadow: -2px 2px 2px #cbcbcb;
}

.skill-set-1 { background-color: #1abc9c; }

.skill-set-2 {
    width: 79%;
    background-color: #2980b9;
}

.skill-set-3 {
    width: 85%;
    background-color: #e74c3c;
}

.skill-set-4 {
    width: 93%;
    background-color: #9b59b6;
}

.skill-text {
    padding-top: 25px;
}

/* ------------------------------------ */
/* PORTFOLIO */
/* ------------------------------------ */
.port-wrapper a {
    text-decoration: none;
    color: #000;
    vertical-align: middle;
}

.mock-up { width: 95%; }

.tools-used-list {
    list-style: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tools-used-list li {
    background-color: #3498db;
    color: #fff;
    padding: 5px;
    margin: 0 0 5px 5px;
    border-radius: 10px;
}

/* ------------------------------------ */
/* FOOTER */
/* ------------------------------------ */
footer {
    height: auto;
    background-color: #2c3f52;
    border-top: 2px solid #d9593d;
}

.connect-with-me-box { padding-left: 50px; }

footer h3 {
    color: #fff;
    margin-top: 26px;
    text-align: center;
    text-transform: uppercase;
}

.connect-icons { text-align: center; }

.ion-social-twitter:hover { color: #55acee; }
.ion-social-github:hover { color: #000; }
.ion-social-linkedin:hover { color: #007bb5; }
.ion-social-codepen:hover { color: #000; }
.ion-fireball:hover { color: #286028; }

.connect-icons li {
    display: inline-block;
    margin: 40px 20px ;
}

.connect-icons li a { color: #fff; }

.btn {
    text-decoration: none;
    color: #fff;
}

.footer-btn {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #d9593d;
    border: none;
    border-radius: 40px;
    color: #fff;
    text-decoration: none;
}

.footer-btn:hover { background-color: #cc4528; }

.form {
    width: 60%;
    margin: 0 auto;
}

input { margin-bottom: 10px; }

input[type=text],
textarea {
    width: 100%;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #fff;
}

input[type=submit] {
    margin: 3px 0 0 10px;
    width: 100px;
}

footer p {
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
}

.copyright { font-size: 50%; }

/* ------------------------------------ */
/* ANIMATION */
/* ------------------------------------ */
.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5 {
    opacity: 0;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-5.animated { opacity: 1; }