/* orange: #d9593d; */

/* ------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    background-color: #fff;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* ------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------ */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section { padding: 80px 80px; }

/* span classes */
.orange { color: #d9593d; }

.separator {
    margin: 75px auto;
    width: 50%;
    border : 0;
    height: 1px; 
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(217, 217, 217), rgba(0, 0, 0, 0)); 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(217, 217, 217), rgba(0, 0, 0, 0)); 
}

.hero-small-text {
    font-size: 80%;
    letter-spacing: 2px;
    font-weight: 700;
}

/* HEADINGS */
h1,
h2,
h3 {
    font-weight: 400;
}

h1 {
    font-size: 260%;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: 700;
}


h2 {
    font-size: 180%;
    text-align: center; 
    word-spacing: 2px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 4px;
    background-color: #d9593d;
    content: " ";
    width: 150px;
    margin: 20px auto;
    margin-bottom: 65px;
}

h3 {
    font-size: 130%;
}

/* ICONS */
.icon-big { font-size: 220%; }

/* PARAGRAPH */
p {
    line-height: 145%;
    color: #333333;
}

.long-text {
    width: 70%;   
    margin-left: 15%;
    text-align: center;
}

/* light gray background for visual hierarchy */
.awards,
.skill-set { background-color: #f5f5f5; }

/* ------------------------------------ */
/* LANDING PAGE */
/* ------------------------------------ */
header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(img/hero.min1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(img/hero.min1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.logo {
    font-family: 'Pacifico', cursive;
    float: left;
    color: #fff;
    text-decoration: none;
    margin-top: 30px;
}

.logo:hover,
.logo:active { color: #d9593d; }

/* NAV */
.main-nav {
    text-align: right;
    list-style: none;
    margin-top: 35px;
}

.main-nav li {
    display: inline-block;
    margin: 0 20px 0 13px;
    line-height: 135%;
    vertical-align: bottom;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    padding-bottom: 15px;
    border: 2px solid transparent;
    font-size: 90%;
    -webkit-transition: border-bottom .3s;
    transition: border-bottom .3s;
}

.main-nav li a:hover,
.main-nav li a:active { border-bottom: 2px solid #d9593d; }

/* mobile nav */
.mobile-nav-icon {
    position: fixed;
    right: 15px;
    top: 12px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

/* STICKY NAV */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 62px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 5px #000;
    z-index: 9999;
}

.sticky .main-nav { margin: 20px 0 15px; }

.sticky .logo { margin-top: 15px; }

/* HERO TEXT */
.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1140px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

/* LANDING PAGE SCROLL BTN */
.scroll-down-btn {
    color: #fff;
    position: absolute;
    bottom: 5%;
    left: 49.5%;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

/* bottom border for hero image */
.header-bot-border { border-top: 2px solid #d9593d; }

/* ------------------------------------ */
/* ABOUT ME */
/* ------------------------------------ */
.selfie-pic {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 180px;
    border-radius: 50%;
}

/* ------------------------------------ */
/* SKILLS */
/* ------------------------------------ */
.logos {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

.logos strong { font-size: 80%; }

.skills-logo:first-child { margin-left: 16px; }
.skills-logo {
    display: inline-block;
    max-width: 90px;
    text-align: center;
    margin: 0 25px 15px 0;
}
.skills-logo:last-child { margin-right: 0; }

/* offset images that are different height */
.logo-spec img { padding-bottom: 10px; }

/* ------------------------------------ */
/* PORTFOLIO */
/* ------------------------------------ */
.port-wrapper a {
    text-decoration: none;
    color: #000;
    vertical-align: middle;
}

.mock-up { width: 95%; }

.tools-used-list {
    width: 100%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tools-used-list li {
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    margin: 2px;
    border: 4px solid #d9593d;
}

/* ------------------------------------ */
/* AWARDS & RECOGNITION */
/* ------------------------------------ */
.awards { margin-bottom: 80px; }

.award-list {
    list-style: none;
    display: block;
}

.award-list li { text-align: center; }

.award-list a:link,
.award-list a:visited {
    text-decoration: none;
    color: #333333;
    border-bottom: 2px dotted #d9593d;
}

/* ------------------------------------ */
/* FOOTER */
/* ------------------------------------ */
footer {
    height: auto;
    background-color: #2c3f52;
    border-top: 2px solid #d9593d;
}

.connect-with-me-box { padding-left: 50px; }

footer h3 {
    color: #fff;
    margin-top: 26px;
    text-align: center;
    text-transform: uppercase;
}

.connect-icons { text-align: center; }

.ion-social-twitter:hover { color: #55acee; }
.ion-social-github:hover { color: #000; }
.ion-social-linkedin:hover { color: #007bb5; }
.ion-social-codepen:hover { color: #000; }
.ion-fireball:hover { color: #286028; }

.connect-icons li {
    display: inline-block;
    margin: 40px 20px ;
}

.connect-icons li a { color: #fff; }

.btn {
    text-decoration: none;
    color: #fff;
}

.footer-btn {
    display: block;
    margin: 0 auto;
    padding: 5px;
    background-color: #2c3f52;
    border: 4px solid #d9593d;;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.footer-btn:hover { background-color: #d9593d; }

.form {
    width: 60%;
    margin: 0 auto;
}

input { margin-bottom: 10px; }

input[type=text],
textarea {
    width: 100%;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #fff;
}

input[type=submit] {
    margin: 3px 0 0 10px;
    width: 100px;
}

footer p {
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
}

.copyright { font-size: 50%; }

/* ------------------------------------ */
/* ANIMATION */
/* ------------------------------------ */
.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5,
.js--wp-6 {
    opacity: 0;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-5.animated,
.js--wp-6.animated { opacity: 1; }